USE [master]
GO
/****** Object:  Database [QLPK]    Script Date: 12/15/2023 11:00:18 PM ******/
CREATE DATABASE [QLPK]
  CONTAINMENT = NONE
  ON PRIMARY 
  ( NAME = N'QLPK', FILENAME = N'QLPK.mdf', SIZE = 8192KB, MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
  LOG ON 
  ( NAME = N'QLPK_log', FILENAME = N'QLPK_log.ldf', SIZE = 8192KB, MAXSIZE = 2048GB, FILEGROWTH = 65536KB )
  WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLPK].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLPK]
GO
/****** Object:  Table [dbo].[BENH_AN]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENH_AN](
	[MABA] [char](6) NOT NULL,
	[MAKH] [char](6) NULL,
	[MOTA] [nvarchar](100) NULL,
	[NGAYKHAM] [date] NULL,
	[NHASITHUCHIEN] [char](6) NULL,
 CONSTRAINT [PK_BA] PRIMARY KEY CLUSTERED 
(
	[MABA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BLOCK_USER]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BLOCK_USER](
	[MAUSER] [char](15) NOT NULL,
	[STT] [int] NOT NULL,
 CONSTRAINT [PK_BLOCKU] PRIMARY KEY CLUSTERED 
(
	[MAUSER] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_DON_THUOC]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_DON_THUOC](
	[MABA] [char](6) NOT NULL,
	[MATHUOC] [char](6) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_CT_DT] PRIMARY KEY CLUSTERED 
(
	[MABA] ASC,
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICH_VU]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICH_VU](
	[MADV] [char](6) NOT NULL,
	[TENDICHVU] [varchar](255) NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_DV] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MAHD] [char](6) NOT NULL,
	[MABA] [char](6) NULL,
	[PHIKHAM] [int] NULL,
	[PHIDV] [int] NULL,
	[TONGTIENTHUOC] [int] NULL,
	[TONGTIEN] [int] NULL,
	[NVTHANHTOAN] [char](6) NULL,
	[TINHTRANG] [int] NULL,
	[NGAYTT] [date] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MAKH] [char](6) NOT NULL,
	[SDT] [char](15) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[MATKHAU] [char](50) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_HEN]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_HEN](
	[MALICHHEN] [char](6) NOT NULL,
	[MAKH] [char](6) NULL,
	[NGAYKHAM] [date] NULL,
	[GIOKHAM] [time](7) NULL,
	[NHASI] [char](6) NULL,
 CONSTRAINT [PK_LH] PRIMARY KEY CLUSTERED 
(
	[MALICHHEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LICH_NHA_SI]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LICH_NHA_SI](
	[MANS] [char](6) NOT NULL,
	[NGAY] [date] NOT NULL,
	[GIOBD] [time](7) NOT NULL,
	[GIOKT] [time](7) NULL,
 CONSTRAINT [PK_LICH_NS] PRIMARY KEY CLUSTERED 
(
	[MANS] ASC,
	[NGAY] ASC,
	[GIOBD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_SI]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_SI](
	[MANS] [char](6) NOT NULL,
	[SDT] [char](15) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[MATKHAU] [char](50) NULL,
	[CHUYENMON] [nvarchar](30) NULL,
 CONSTRAINT [PK_NS] PRIMARY KEY CLUSTERED 
(
	[MANS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MANV] [char](6) NOT NULL,
	[SDT] [char](15) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[MATKHAU] [char](50) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_DV]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_DV](
	[MABA] [char](6) NOT NULL,
	[MADV] [char](6) NOT NULL,
	[NHASITHUCHIEN] [char](6) NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_PHIEU_DV] PRIMARY KEY CLUSTERED 
(
	[MABA] ASC,
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QTV]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QTV](
	[MAQTV] [char](6) NOT NULL,
	[SDT] [char](15) NULL,
	[HOTEN] [nvarchar](30) NULL,
	[NGAYSINH] [date] NULL,
	[DIACHI] [nvarchar](150) NULL,
	[MATKHAU] [char](50) NULL,
 CONSTRAINT [PK_QTV] PRIMARY KEY CLUSTERED 
(
	[MAQTV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUOC]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUOC](
	[MATHUOC] [char](6) NOT NULL,
	[DONVITINH] [nvarchar](30) NULL,
	[SOLUONGTON] [int] NULL,
	[CHIDINH] [nvarchar](50) NULL,
	[NGAYHETHAN] [date] NULL,
	[TENTHUOC] [nvarchar](40) NULL,
 CONSTRAINT [PK_THUOC] PRIMARY KEY CLUSTERED 
(
	[MATHUOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BENH_AN] ([MABA], [MAKH], [MOTA], [NGAYKHAM], [NHASITHUCHIEN]) VALUES (N'BA0004', N'KH2603', N'SIXGNN1WWM12UGDY0HP1HBOJFDKSJXCFKDUWEM2LBXPPDZ0X3648G4NGUD0928DZAMIHMGJEF3PKMY6GCMODS3', CAST(N'2021-06-13' AS Date), N'NS2883')
INSERT [dbo].[BENH_AN] ([MABA], [MAKH], [MOTA], [NGAYKHAM], [NHASITHUCHIEN]) VALUES (N'BA0008', N'KH0863', N'XYHXV75HEYD3J5P2EFKGIW2UKJDT01MBUYQZZCV59ET871BH1VFZ0JQ0VMCCUBHCB29KEP22KE7', CAST(N'2023-05-07' AS Date), N'NS8277')
INSERT [dbo].[BENH_AN] ([MABA], [MAKH], [MOTA], [NGAYKHAM], [NHASITHUCHIEN]) VALUES (N'BA0010', N'KH2203', N'FQE', CAST(N'2020-08-28' AS Date), N'NS2883')
GO
INSERT [dbo].[CT_DON_THUOC] ([MABA], [MATHUOC], [SOLUONG], [DONGIA]) VALUES (N'BA0004', N'JUUNPI', 5, 127236)
INSERT [dbo].[CT_DON_THUOC] ([MABA], [MATHUOC], [SOLUONG], [DONGIA]) VALUES (N'BA0008', N'WDOKEP', 9, 108785)
INSERT [dbo].[CT_DON_THUOC] ([MABA], [MATHUOC], [SOLUONG], [DONGIA]) VALUES (N'BA0010', N'ZIJPWT', 9, 133060)
GO
INSERT [dbo].[DICH_VU] ([MADV], [TENDICHVU], [DONGIA]) VALUES (N'ABEWIS', N'Cham sóc nu?u và gi? cho rang ch?c kh?e', 8528000)
INSERT [dbo].[DICH_VU] ([MADV], [TENDICHVU], [DONGIA]) VALUES (N'BVMYVT', N'Ch?nh nha', 18709000)
INSERT [dbo].[DICH_VU] ([MADV], [TENDICHVU], [DONGIA]) VALUES (N'CTPEEE', N'Làm rang gi?', 37917000)
GO
INSERT [dbo].[HOA_DON] ([MAHD], [MABA], [PHIKHAM], [PHIDV], [TONGTIENTHUOC], [TONGTIEN], [NVTHANHTOAN], [TINHTRANG], [NGAYTT]) VALUES (N'03XHLA', N'BA1830', 50000, 284001, 157526, 1867830427, N'NV7746', 1, CAST(N'2020-12-30' AS Date))
INSERT [dbo].[HOA_DON] ([MAHD], [MABA], [PHIKHAM], [PHIDV], [TONGTIENTHUOC], [TONGTIEN], [NVTHANHTOAN], [TINHTRANG], [NGAYTT]) VALUES (N'05NVDP', N'BA4642', 50000, 1336186, 56852, 376051088, N'NV1096', 1, CAST(N'2021-02-21' AS Date))
INSERT [dbo].[HOA_DON] ([MAHD], [MABA], [PHIKHAM], [PHIDV], [TONGTIENTHUOC], [TONGTIEN], [NVTHANHTOAN], [TINHTRANG], [NGAYTT]) VALUES (N'08VSHW', N'BA9679', 50000, 1542914, 73079, 1363596950, N'NV2741', 0, CAST(N'2023-11-24' AS Date))
GO
INSERT [dbo].[KHACH_HANG] ([MAKH], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'KH0061', N'0957377131     ', N'Võ Quốc Trụ', CAST(N'1984-04-03' AS Date), N'V9LJVHED3JAR4OXC9ZPYISXKOIZ71E1LMN6AE268942M635Z4OJVNQ12C1VDH7BOHO', N'ZIZM56VXQDFZID                                    ')
INSERT [dbo].[KHACH_HANG] ([MAKH], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'KH0091', N'0311095782     ', N'Phạm Tâm Như', CAST(N'2002-12-22' AS Date), N'QPEETNV5ENDYC3NMFPD', N'WOTCSOVG049RRS                                    ')
INSERT [dbo].[KHACH_HANG] ([MAKH], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'KH0092', N'0827560592     ', N'Lý Thảo Nghi', CAST(N'1975-10-02' AS Date), N'GY08M', N'TTKG0TA3TZNPEX                                    ')
GO
INSERT [dbo].[LICH_HEN] ([MALICHHEN], [MAKH], [NGAYKHAM], [GIOKHAM], [NHASI]) VALUES (N'LH0004', N'KH6300', CAST(N'2020-11-24' AS Date), CAST(N'23:01:02.8608255' AS Time), N'NS0628')
INSERT [dbo].[LICH_HEN] ([MALICHHEN], [MAKH], [NGAYKHAM], [GIOKHAM], [NHASI]) VALUES (N'LH0039', N'KH1746', CAST(N'2020-01-31' AS Date), CAST(N'07:43:18.2155988' AS Time), N'NS2561')
INSERT [dbo].[LICH_HEN] ([MALICHHEN], [MAKH], [NGAYKHAM], [GIOKHAM], [NHASI]) VALUES (N'LH0045', N'KH1428', CAST(N'2020-04-16' AS Date), CAST(N'14:17:41.8039743' AS Time), N'NS3716')
GO
INSERT [dbo].[LICH_NHA_SI] ([MANS], [NGAY], [GIOBD], [GIOKT]) VALUES (N'NS0486', CAST(N'2020-05-14' AS Date), CAST(N'07:36:55.0301789' AS Time), CAST(N'16:09:35.8652466' AS Time))
INSERT [dbo].[LICH_NHA_SI] ([MANS], [NGAY], [GIOBD], [GIOKT]) VALUES (N'NS0486', CAST(N'2021-11-22' AS Date), CAST(N'12:54:45.2271418' AS Time), CAST(N'02:21:37.0922375' AS Time))
INSERT [dbo].[LICH_NHA_SI] ([MANS], [NGAY], [GIOBD], [GIOKT]) VALUES (N'NS0486', CAST(N'2022-02-24' AS Date), CAST(N'07:36:58.9803578' AS Time), CAST(N'17:19:36.1084891' AS Time))
GO
INSERT [dbo].[NHA_SI] ([MANS], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU], [CHUYENMON]) VALUES (N'NS0486', N'0732711931     ', N'Đặng Tuyết Mai', CAST(N'1986-10-01' AS Date), N'27CYQ5RBTOVUT', N'Z9NYPYRYBKR6ANID9DPUX9Y3J                         ', N'Nha Khoa Xã Hội')
INSERT [dbo].[NHA_SI] ([MANS], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU], [CHUYENMON]) VALUES (N'NS0628', N'0634818545     ', N'Phan Gia Cẩn', CAST(N'1956-06-20' AS Date), N'EA', N'1NPCK6EOPZXMV3                                    ', N'Nha Khoa Nguồn Cung')
INSERT [dbo].[NHA_SI] ([MANS], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU], [CHUYENMON]) VALUES (N'NS0836', N'0208663405     ', N'Ngô Thúy Phượng', CAST(N'1965-01-28' AS Date), N'MZF02OUA5TW3H02FND5NC0GWRAHVHNMH88CRHW45LOQ00QQFH9MSWVPMJI9R6ZTH6FU8OAYQ8Z1O9GW1K1D81ULCJQ8ZNDZMU8TLVHR6AVKWU0C2M875LLGCUIPX2Y3U0ET1NA52A6X59OIIE', N'CJIP7NWRO9TZDOGN1JFRVISI68HGYY51BI8SVGB8MIMUYLMA3 ', N'Nha Khoa Chỉnh Nha')
GO
INSERT [dbo].[NHAN_VIEN] ([MANV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'NV0122', N'0070068489     ', N'Lê Hồng Nhung', CAST(N'1960-09-01' AS Date), N'G4ORIRQGWKTEYPXIH4C4H2JP723TK515PO47VY0V1FHSRNU80IPJCXREKZJGOWWQINOALQMJ3H32KRXJ8VS2GISRWPNWEK64JQ93YJMAV5FVUPT', N'JU4HYCXC2LBIPF84B5OR2V                            ')
INSERT [dbo].[NHAN_VIEN] ([MANV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'NV0604', N'0171298328     ', N'Vũ Trung Việt', CAST(N'1958-12-07' AS Date), N'G35W0JKKBTO3TAOOM069630BG6TZPHNW8GULN30NCDM38KAFBAQ8XGCC3UGUPLVU6SVDF30J', N'QJ6N3AKSS                                         ')
INSERT [dbo].[NHAN_VIEN] ([MANV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'NV0666', N'0157634828     ', N'Lê Đan Linh', CAST(N'1993-01-05' AS Date), N'BROKFQMQKMBBWBKJ9HRQLI3RQXYZI4IQOBFUC6EXJKYEDURLVKQIPWKSOXTIRN7F3KNLWQ633T71JODW5D3YE01RQM5FDW5WCIBT66P5EMFVPJ9ZJWCEJ903JV', N'BLJHEO3EFDVRPFQXMW4UU21N51H10E83D6P9QP1VLC42NLJKB ')
GO
INSERT [dbo].[PHIEU_DV] ([MABA], [MADV], [NHASITHUCHIEN], [DONGIA]) VALUES (N'BA0008', N'LZLRLL', N'NS0836', 1300073268)
INSERT [dbo].[PHIEU_DV] ([MABA], [MADV], [NHASITHUCHIEN], [DONGIA]) VALUES (N'BA0010', N'UKSQEW', N'NS2596', 1423441380)
INSERT [dbo].[PHIEU_DV] ([MABA], [MADV], [NHASITHUCHIEN], [DONGIA]) VALUES (N'BA0015', N'QQXJVX', N'NS5093', 1898898171)
GO
INSERT [dbo].[QTV] ([MAQTV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'QT0077', N'0646346731     ', N'Hồ Khánh Bình', CAST(N'1957-10-17' AS Date), N'EWB12SYSU3KN06AMBCD3JHZ4PALNHP6FJRRBUWF6ZDKIS53L3VENK8ZXW7CR7BB5W539EY', N'FV0QGAQI0OT2Pf                                    ')
INSERT [dbo].[QTV] ([MAQTV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'QT1104', N'0712378033     ', N'Đặng Thảo Mai', CAST(N'1991-03-31' AS Date), N'DDWD3QQX4JPLGS8K2ZNMVSUFO3P3SEGS8FSW1RNP1BT3GCBO5SSTPH7LIHP00M4P3XC0ZCIBBXKKZQYBR1XZMM2R87DK2NPE630IZAOTAHHRWMMSID8ZP43GULRSZX8O85EVQFBGC4P', N'f                                                 ')
INSERT [dbo].[QTV] ([MAQTV], [SDT], [HOTEN], [NGAYSINH], [DIACHI], [MATKHAU]) VALUES (N'QT2367', N'0151015170     ', N'Hoàng Xuân Thuyết', CAST(N'1991-04-11' AS Date), N'EW736WGBJ70KLBJUBSTENJOZO2FMM1U643ZQ', N'72MWZHE9MZJ1SCJX5AUGf                             ')
GO
INSERT [dbo].[THUOC] ([MATHUOC], [DONVITINH], [SOLUONGTON], [CHIDINH], [NGAYHETHAN], [TENTHUOC]) VALUES (N'APHMKK', N'Chai', 1042492811, N'04675', CAST(N'2025-03-09' AS Date), N'Tetracycline')
INSERT [dbo].[THUOC] ([MATHUOC], [DONVITINH], [SOLUONGTON], [CHIDINH], [NGAYHETHAN], [TENTHUOC]) VALUES (N'AXFPJH', N'Vỉ', 1598050368, N'10B7A', CAST(N'2021-04-23' AS Date), N'Peridex')
INSERT [dbo].[THUOC] ([MATHUOC], [DONVITINH], [SOLUONGTON], [CHIDINH], [NGAYHETHAN], [TENTHUOC]) VALUES (N'BHJEXY', N'Vỉ', 1504011038, N'85B50', CAST(N'2025-07-31' AS Date), N'Topical anesthetic gel')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KHACH_HA__CA1930A5DA1FF272]    Script Date: 12/15/2023 11:00:19 PM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHA_SI__CA1930A59DE2295C]    Script Date: 12/15/2023 11:00:19 PM ******/
ALTER TABLE [dbo].[NHA_SI] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NHAN_VIE__CA1930A5E4F08018]    Script Date: 12/15/2023 11:00:19 PM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__QTV__CA1930A585E88900]    Script Date: 12/15/2023 11:00:19 PM ******/
ALTER TABLE [dbo].[QTV] ADD UNIQUE NONCLUSTERED 
(
	[SDT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BENH_AN]  WITH CHECK ADD  CONSTRAINT [FK_BA_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[BENH_AN] CHECK CONSTRAINT [FK_BA_KH]
GO
ALTER TABLE [dbo].[BENH_AN]  WITH CHECK ADD  CONSTRAINT [FK_BA_NS] FOREIGN KEY([NHASITHUCHIEN])
REFERENCES [dbo].[NHA_SI] ([MANS])
GO
ALTER TABLE [dbo].[BENH_AN] CHECK CONSTRAINT [FK_BA_NS]
GO
ALTER TABLE [dbo].[BLOCK_USER]  WITH CHECK ADD  CONSTRAINT [FK_BU_KH] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[KHACH_HANG] ([SDT])
GO
ALTER TABLE [dbo].[BLOCK_USER] CHECK CONSTRAINT [FK_BU_KH]
GO
ALTER TABLE [dbo].[BLOCK_USER]  WITH CHECK ADD  CONSTRAINT [FK_BU_NS] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[NHA_SI] ([SDT])
GO
ALTER TABLE [dbo].[BLOCK_USER] CHECK CONSTRAINT [FK_BU_NS]
GO
ALTER TABLE [dbo].[BLOCK_USER]  WITH CHECK ADD  CONSTRAINT [FK_BU_NV] FOREIGN KEY([MAUSER])
REFERENCES [dbo].[NHAN_VIEN] ([SDT])
GO
ALTER TABLE [dbo].[BLOCK_USER] CHECK CONSTRAINT [FK_BU_NV]
GO
ALTER TABLE [dbo].[CT_DON_THUOC]  WITH CHECK ADD  CONSTRAINT [FK_CTDT_THUOC] FOREIGN KEY([MATHUOC])
REFERENCES [dbo].[THUOC] ([MATHUOC])
GO
ALTER TABLE [dbo].[CT_DON_THUOC] CHECK CONSTRAINT [FK_CTDT_THUOC]
GO
ALTER TABLE [dbo].[CT_DON_THUOC]  WITH CHECK ADD  CONSTRAINT [FK_DT_BA] FOREIGN KEY([MABA])
REFERENCES [dbo].[BENH_AN] ([MABA])
GO
ALTER TABLE [dbo].[CT_DON_THUOC] CHECK CONSTRAINT [FK_DT_BA]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HD_BA] FOREIGN KEY([MABA])
REFERENCES [dbo].[BENH_AN] ([MABA])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HD_BA]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HD_NV] FOREIGN KEY([NVTHANHTOAN])
REFERENCES [dbo].[NHAN_VIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HD_NV]
GO
ALTER TABLE [dbo].[LICH_HEN]  WITH CHECK ADD  CONSTRAINT [FK_LH_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACH_HANG] ([MAKH])
GO
ALTER TABLE [dbo].[LICH_HEN] CHECK CONSTRAINT [FK_LH_KH]
GO
ALTER TABLE [dbo].[LICH_HEN]  WITH CHECK ADD  CONSTRAINT [FK_LH_NS] FOREIGN KEY([NHASI])
REFERENCES [dbo].[NHA_SI] ([MANS])
GO
ALTER TABLE [dbo].[LICH_HEN] CHECK CONSTRAINT [FK_LH_NS]
GO
ALTER TABLE [dbo].[LICH_NHA_SI]  WITH CHECK ADD  CONSTRAINT [FK_LICHNS_NS] FOREIGN KEY([MANS])
REFERENCES [dbo].[NHA_SI] ([MANS])
GO
ALTER TABLE [dbo].[LICH_NHA_SI] CHECK CONSTRAINT [FK_LICHNS_NS]
GO
ALTER TABLE [dbo].[PHIEU_DV]  WITH CHECK ADD  CONSTRAINT [FK_PDV_BA] FOREIGN KEY([MABA])
REFERENCES [dbo].[BENH_AN] ([MABA])
GO
ALTER TABLE [dbo].[PHIEU_DV] CHECK CONSTRAINT [FK_PDV_BA]
GO
ALTER TABLE [dbo].[PHIEU_DV]  WITH CHECK ADD  CONSTRAINT [FK_PDV_DV] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICH_VU] ([MADV])
GO
ALTER TABLE [dbo].[PHIEU_DV] CHECK CONSTRAINT [FK_PDV_DV]
GO
ALTER TABLE [dbo].[PHIEU_DV]  WITH CHECK ADD  CONSTRAINT [FK_PDV_NS] FOREIGN KEY([NHASITHUCHIEN])
REFERENCES [dbo].[NHA_SI] ([MANS])
GO
ALTER TABLE [dbo].[PHIEU_DV] CHECK CONSTRAINT [FK_PDV_NS]
GO
/****** Object:  StoredProcedure [dbo].[sp_CapNhatTonKhoThuoc]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP cập nhật số lượng tồn kho của thuốc (thêm vào số lượng x)
CREATE   PROC [dbo].[sp_CapNhatTonKhoThuoc]
	@MaThuoc CHAR(6),
	@SoLuong INT
AS
BEGIN TRAN
	BEGIN TRY
	IF NOT EXISTS (SELECT * FROM THUOC T WHERE T.MATHUOC=@MaThuoc)
	BEGIN
        PRINT N'Không tồn tại thuốc muốn cập nhật'
		ROLLBACK TRAN
		RETURN 1
	END

	DECLARE @SLTon INT
	SET @SLTon = (SELECT SOLUONGTON FROM THUOC WHERE MATHUOC = @MaThuoc)

	SET @SLTon = @SLTon + @SoLuong
	UPDATE THUOC
	SET SOLUONGTON = @SLTon
	WHERE MATHUOC = @MaThuoc
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1	
	END CATCH
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_DatLichHen]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_DatLichHen]
	    @MaLH CHAR(6),
        @MaKH CHAR(6),
        @NgayKham DATE, 
        @GioKham TIME,
        @NhaSi CHAR(6)
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM KHACH_HANG WHERE MAKH = @MaKH)
		BEGIN 
			PRINT('CHƯA TỒN TẠI THÔNG TIN KHÁCH HÀNG TRÊN HỆ THỐNG!')
			ROLLBACK TRAN
			RETURN 1
		END

		IF NOT EXISTS (SELECT * FROM NHA_SI WHERE MANS = @NhaSi)
		BEGIN 
			PRINT N'KHÔNG TỒN TẠI NHA SĨ THÔNG TIN TRÊN HỆ THỐNG!'
			ROLLBACK TRAN
			RETURN 1			
		END

		INSERT LICH_HEN(MALICHHEN, MAKH, NGAYKHAM, GIOKHAM, NHASI)
		VALUES (@MaLH, @MaKH, @NgayKham, @GioKham, @NhaSi)
		
		WAITFOR DELAY '0:0:10'
		IF @NgayKham < GETDATE()
		BEGIN 
			PRINT N'Ngày hẹn không được thuộc về quá khứ!'
			ROLLBACK TRAN 
			RETURN 1
		END
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1	
	END CATCH
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemCTDonThuoc]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP thêm một chi tiết đơn thuốc (thêm một loại thuốc vào đơn thuốc)
CREATE   PROC [dbo].[sp_ThemCTDonThuoc]
	@MaBA CHAR(6),
	@MaThuoc CHAR(6),
	@SoLuong INT,
	@DonGia INT
AS
--SET TRAN ISOLATION LEVEL REPEATABLE READ
BEGIN TRAN
	BEGIN TRY
	IF NOT EXISTS (SELECT * FROM BENH_AN BA WHERE BA.MABA = @MaBA)
	BEGIN
		PRINT N'Không tồn tại bệnh án muốn thêm chi tiết đơn thuốc!'
		ROLLBACK TRAN
		RETURN 1
	END

	IF NOT EXISTS (SELECT * FROM THUOC T WHERE T.MATHUOC = @MaThuoc)
	BEGIN 
		PRINT N'Không tồn tại thuốc đươc thêm!'
		ROLLBACK TRAN
		RETURN 1
	END

	IF (@SoLuong <= 0)
	BEGIN
		   PRINT N'Số lượng thuốc muốn thêm phải > 0!'
		  ROLLBACK TRAN      
		  RETURN 1
	END

	IF (@DonGia < 0)
	BEGIN
		   PRINT N'Đơn giá thêm vào không hợp lệ!'
		  ROLLBACK TRAN      
		  RETURN 1
	END



	DECLARE @SLTon INT
	SET @SLTon = (SELECT SOLUONGTON FROM THUOC WITH (TABLOCKX) WHERE MATHUOC = @MaThuoc)
	IF (@SoLuong > @SLTon)
	BEGIN 
		PRINT N'Số lượng tồn của thuốc không đủ'
		ROLLBACK TRAN
		RETURN 1
	END
	WAITFOR DELAY '00:00:05'


	INSERT INTO CT_DON_THUOC(MABA, MATHUOC, SOLUONG, DONGIA)
	VALUES (@MaBA, @MaThuoc, @SoLuong, @DonGia)
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1	
	END CATCH
	SET @SLTon = @SLTon - @SoLuong
	UPDATE THUOC
	SET SOLUONGTON = @SLTon
	WHERE MATHUOC = @MaThuoc

COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemHoaDon]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- PROC THÊM HÓA ĐƠN MỚI
CREATE   PROC [dbo].[sp_ThemHoaDon]
	@MaHD CHAR(6),
	@MaBA CHAR(6),
	@PhiKham INT,
	@PhiDV INT, 
	@TongTienThuoc INT, 
	@TongTien INT,
	@NVThanhToan CHAR(6),
	@TinhTrang INT,
	@NgayTT DATE
AS
BEGIN TRAN
	BEGIN TRY
		IF NOT EXISTS (SELECT * FROM BENH_AN WHERE MABA = @MaBA)
		BEGIN 
			PRINT N'Hóa đơn phải thanh toán cho một bệnh án cụ thể!'
			ROLLBACK TRAN
			RETURN 1
		END

		IF NOT EXISTS (SELECT * FROM NHAN_VIEN WHERE MANV = @NVThanhToan)
		BEGIN 
			PRINT N'Không tồn tại nhân viên thực hiện thanh toán trong hệ thống!'
			ROLLBACK TRAN
			RETURN 1
		END

		INSERT HOA_DON(MAHD, MABA, PHIKHAM, PHIDV, TONGTIENTHUOC, TONGTIEN, NVTHANHTOAN, TINHTRANG, NGAYTT)
		VALUES (@MaHD, @MaBA, @PhiKham, @PhiDV, @TongTienThuoc, @TongTien, @NVThanhToan, @TinhTrang, @NgayTT)

		WAITFOR DELAY '00:00:05'
		IF @PhiKham + @PhiDV + @TongTienThuoc != @TongTien
		BEGIN 
			PRINT N'Tổng chi phi và tổng tiền không bằng nhau!'
			ROLLBACK TRAN
			RETURN 1
		END

	END TRY


	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1
	END CATCH

COMMIT TRAN
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[sp_TongKetDoanhThuTheoNgay]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- PROC TỔNG KẾT DOANH THU PHÒNG KHÁM THEO NGÀY
CREATE   PROC [dbo].[sp_TongKetDoanhThuTheoNgay]
	@NgayTongKet DATE
AS
SET TRANSACTION ISOLATION LEVEL READ COMMITTED
BEGIN TRAN
	BEGIN TRY
		IF @NgayTongKet > GETDATE()
		BEGIN 
			PRINT N'Ngày muốn tổng kết doanh thu không hợp lệ!'
			ROLLBACK TRAN
			RETURN 1
		END

		SELECT NGAYTT AS N'NGÀY', SUM(TONGTIEN) AS N'TỔNG DOANH THU'
		FROM HOA_DON
		WHERE NGAYTT = @NgayTongKet AND TINHTRANG = 1 -- TÌNH TRẠNG = 1 -> ĐÃ THANH TOÁN, TÌNH TRẠNG = 0-> CHƯA THANH TOÁN
		GROUP BY NGAYTT
	END TRY
		
	BEGIN CATCH 
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1	
	END CATCH
COMMIT TRAN
RETURN 0

GO
/****** Object:  StoredProcedure [dbo].[sp_XemLichHenNS]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_XemLichHenNS]
		@MaNS char(6)
AS
SET TRAN ISOLATION LEVEL READ COMMITTED
BEGIN TRAN
	BEGIN TRY
		SELECT * FROM LICH_HEN WITH (NOLOCK) WHERE NHASI = @MaNS 
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG!'
		ROLLBACK TRAN
		RETURN 1		
	END CATCH
COMMIT TRAN
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[sp_XemThongTinNS]    Script Date: 12/15/2023 11:00:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROC [dbo].[sp_XemThongTinNS]
		@MaNS char(6)
AS
BEGIN TRAN
	BEGIN TRY
		SELECT * FROM NHA_SI WITH (NOLOCK) WHERE MANS = @MaNS 
	END TRY
	BEGIN CATCH
		PRINT N'LỖI HỆ THỐNG'
		ROLLBACK TRAN
		RETURN 1		
	END CATCH
COMMIT TRAN
RETURN 0
GO
USE [master]
GO
